extends ../config/template
append config
  -pageTitle = 'Home'
  -pageDescription = 'Pagina inicial de EDboilerplate'
  -pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

block main
  header
    .container
      nav.menu-social
        ul.left
          li.menu-item
            a(href="#")
              i.fab.fa-facebook
          li.menu-item
            a(href="#")
              i.fab.fa-twitter
          li.menu-item
            a(href="#")
              i.fab.fa-google-plus
          li.menu-item
            a(href="#")
              i.fab.fa-pinterest
          li.menu-item
            a(href="#")
              i.fab.fa-youtube
        
        ul.right
          li.menu-item
            a
              i.fa.fa-phone 
              |  +228 872 4444
          li.menu-item
            a
              i.fa.fa-envelope 
              |  contact@email.com

        .header-logo.hide-on-med-and-down
          img(src="http://demo3.ltheme.com/wordpress-one-page-themes/lt-wedding/wp-content/uploads/2016/01/logo.png", alt="")
  
  include ../includes/main-menu

  section
    .carousel.carousel-slider
      <a class="carousel-item" href="#one!"><img src="http://demo3.ltheme.com/wordpress-one-page-themes/lt-wedding/wp-content/uploads/2016/08/sli7.jpg"></a>
      <a class="carousel-item" href="#two!"><img src="http://demo3.ltheme.com/wordpress-one-page-themes/lt-wedding/wp-content/uploads/2016/08/sli5.jpg"></a>
      <a class="carousel-item" href="#three!"><img src="http://demo3.ltheme.com/wordpress-one-page-themes/lt-wedding/wp-content/uploads/2016/08/sli6.jpg"></a>
      <a class="carousel-item" href="#four!"><img src="http://demo3.ltheme.com/wordpress-one-page-themes/lt-wedding/wp-content/uploads/2016/08/sli7.jpg"></a>
  
  section.section
    article.container
      .section__header.center
        h3.section__title Eventos
        p.section__subtitle
      .row.section__eventos
        .col.s12.decorador
          ul.tabs.tabs_eventos
            li.tab.tabs-item
              span Sociales
              a.active(href="#sociales")
                img.circle.responsive-img(src="../assets/img/social.jpg", alt="Organización de eventos sociales")
            li.tab.tabs-item
              span Religiosos
              a(href="#religiosos")
                img.circle.responsive-img(src="../assets/img/img-religioso.jpg", alt="Organización de eventos sociales")
            li.tab.tabs-item
              span Mobiliario
              a(href="#mobiliario")
                img.circle.responsive-img(src="../assets/img/img-mobiliario.jpg", alt="Organización de eventos sociales")

        .col.s12
          #sociales.center
            h4 Eventos Sociales
            .sociales_content
              .col.s12.m6.l4.xl3
                .sociales_content__img
                  img.circle.responsive-img(src="../assets/img/bodas.jpg", alt="bodas")
                p Bodas
              .col.s12.m6.l4.xl3
                .sociales_content__img
                  img.circle.responsive-img(src="../assets/img/quince.jpg", alt="bodas")
                p XV años
              .col.s12.m6.l4.xl3
                .sociales_content__img
                  img.circle.responsive-img(src="../assets/img/aniversario.jpg", alt="bodas")
                p Aniversarios
              .col.s12.m6.l4.xl3
                .sociales_content__img
                  img.circle.responsive-img(src="../assets/img/cumpleanos.jpg", alt="bodas")
                p Cumpleaños
              .col.s12.m6.l4.xl3
                .sociales_content__img
                  img.circle.responsive-img(src="../assets/img/graduacion.jpg", alt="bodas")
                p Graduaciones
          #religiosos.center
            h4 Eventos Religiosos
            .sociales_content
              .col.s12.m6.l4.xl3
                .sociales_content__img
                  img.circle.responsive-img(src="../assets/img/bodas.jpg", alt="bodas")
                p Bodas Religiosas
              .col.s12.m6.l4.xl3
                .sociales_content__img
                  img.circle.responsive-img(src="../assets/img/bautismo.jpg", alt="bodas")
                p Bautismos
              .col.s12.m6.l4.xl3
                .sociales_content__img
                  img.circle.responsive-img(src="../assets/img/campamento.jpg", alt="bodas")
                p Campamentos
              .col.s12.m6.l4.xl3
                .sociales_content__img
                  img.circle.responsive-img(src="../assets/img/iglesia.jpg", alt="bodas")
                p Aniversarios de Iglesia

          #mobiliario.center
            h4 Mobiliario
            .sociales_content
              .col.s12.m6.l4.xl3
                img(src="../assets/img/servicio-1.jpg", alt="bodas")
                p Decoraciones de Local Matrimonio
              .col.s12.m6.l4.xl3
                img(src="../assets/img/servicio-2.jpg", alt="bodas")
                p Decoraciones de Iglesia
              .col.s12.m6.l4.xl3
                img(src="../assets/img/servicio-4.jpg", alt="bodas")
                p Alquilamos Equipos de Sonido

  section.section.section__about.banner
    .banner-parallax
      article
        .container
          .section__header.center
            h3.section__title Agencia de Eventos
          .row
            .col.s12.m4
              img.responsive-img(src="../assets/img/flower.png", alt="img-about")  
            .col.s12.m8
              p Confía en nosotros, tenemos más de 15 años organizando eventos sociales como bodas, XV años, exposiciones, congresos, fiestas temáticas vanguardistas y de los gustos más exigentes y sofisticados en Morelia.
              .marca Eventos Renacer
  section.section
    article.container
      .section__header.center
        h3.section__title Servicios
        p.section__subtitle
      .section__servicios
        .row
          .col.s12.m6.l4
            .card
              .card-image
                img(src="../assets/img/servicio-1.jpg")
                span.card-title Organización de eventos
                a.btn-floating.halfway-fab.waves-effect.waves-light.red
                  i.material-icons add
              .card-content
                ul
                  li Logística de evento
                  li Catering
                  li Planeación
                  li Negociación con proveedores
                  li Coordinación del evento
                  li Animación durante el evento
          .col.s12.m6.l4
            .card
              .card-image
                img(src="../assets/img/servicio-2.jpg")
                span.card-title Decoración de ambientes
                a.btn-floating.halfway-fab.waves-effect.waves-light.red
                  i.material-icons add
              .card-content
                p.center Si ya tiene pensado lo que quiere, simplemente lo hacemos realidad..., sino creamos diseños exclusivos, según su gusto y personalidad y acorde a su estilo.

          .col.s12.m6.l4
            .card
              .card-image
                img(src="../assets/img/servicio-3.jpg")
                span.card-title Musica e iluminación
                a.btn-floating.halfway-fab.waves-effect.waves-light.red
                  i.material-icons add
              .card-content
                ul
                  li Equipos de sonido
                  li  Grupos musicales:
                    ul
                      li Mariachi
                      li Banda
                      li Pantallas
                      li Sonido
                      li Karaoke
                      li Dvd’s
                      li Proyectores
        
          .col.s12.m6.l4
            .card
              .card-image
                img(src="../assets/img/servicio-4.jpg")
                span.card-title Alquiler
                a.btn-floating.halfway-fab.waves-effect.waves-light.red
                  i.material-icons add
              .card-content
                ul
                  li Mantelería
                  li  Loza
                  li Cristalería
                  li Inflables

  section.section
    .container
      article
        .section__header.center
          h3.section__title Te Invitamos 
          p.section__subtitle 21 de Julio del 2015, Manila Filipinas

        .section__boyfriends
          .row
            .col.s12.m4.center
              img.circle.responsive-img(src="http://demo3.ltheme.com/wordpress-one-page-themes/lt-wedding/wp-content/uploads/2016/01/bride.png", alt="")
              h4.section__boyfriends__nombre Clarisse Doe
              .section__boyfriends__brigro Bride
              p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .options
                button.btn ver más
            .col.s12.m4.center
              p.section__boyfriends__simbolo $
            .col.s12.m4.center
              img.circle.responsive-img(src="http://demo3.ltheme.com/wordpress-one-page-themes/lt-wedding/wp-content/uploads/2016/01/groom.png", alt="")
              h4.section__boyfriends__nombre Cristopher Robins
              .section__boyfriends__brigro Groom
              p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .options
                button.btn ver más
  section.section.section__count
    .container
      article
        .section__header.center
          h3.section__title Until We Get Married
        .section__body
          .row
            .col.s3
              .section__count__content.card.flow-text
                .fecha__number 720
                .fecha__nombre Days
            .col.s3
              .section__count__content.card.flow-text
                .fecha__number 24
                .fecha__nombre Hour
            .col.s3
              .section__count__content.card.flow-text
                .fecha__number 45
                .fecha__nombre Days
            .col.s3
              .section__count__content.card.flow-text
                .fecha__number 21
                .fecha__nombre Second
  section.section.section__evento
    .container
      article
        .section__header.center
          h3.section__title Eventos a Organizar
          p.section__subtitle Nuestros servicios son de mucha calidad y con la experiencia, compromiso y lealtad de nuestro personal, garantizamos una organización de calidad para usted. 
        .section__body
          .row
            .col.s12.m6
              .evento.center
                .evento__header
                  h4.evento__title Matrimonio Religioso
                .evento__content
                  img.circle.responsive-img(src="http://demo3.ltheme.com/wordpress-one-page-themes/lt-wedding/wp-content/uploads/2016/01/8953-8951-event2.png", alt="")
                  p.evento__fecha 24 July 2020 04:45 (Save to cal)
                  .evento__person Josue & Lídia
                  p.evento__text Come join us to taste all our teas in a comfortably sized tea salon. The tea menu consists of more than a hundred varieties. For a small price you get your own individual teapot from which you can…
            .col.s12.m6
              .evento.center
                .evento__header
                  h4.evento__title Matrimonio Civil
                .evento__content
                  img.circle.responsive-img(src="http://demo3.ltheme.com/wordpress-one-page-themes/lt-wedding/wp-content/uploads/2016/01/24500-30077-event1.png", alt="")
                  p.evento__fecha 24 July 2020 04:45 (Save to cal)
                  .evento__person Pablo & Julia
                  p.evento__text Come join us to taste all our teas in a comfortably sized tea salon. The tea menu consists of more than a hundred varieties. For a small price you get your own individual teapot from which you can…

  section.section
    article
      .section__header.center.container
        h3.section__title Galería de Fotos
        p.section__subtitle Ustes puede visualizar las fotos de los eventos que organizamos, puede ver como quedaría la decoración de su local, la calidad de las fotos, los momentos especificos de su evento y entre otros.
      .section__body
        .container
          .row
            .col.s12
              ul.tabs
                li.tab.col.s3
                  a(href="#todo") Todo
                li.tab.col.s3
                  a.active(href="#bodas") BODAS
                li.tab.col.s3
                  a(href="#quince") Quinceañeros
                li.tab.col.s3
                  a(href="#bautismo") Bautismos
        .gallery_content
          #todo
            .gallery
              each img in img_all
                img.materialboxed(src=img.nombre, alt=img.alt)
          #bodas
            .gallery
              each img in img_bodas
                img.materialboxed(src=img.nombre, alt=img.alt)
          #quince
            .gallery
              each img in img_quince
                img.materialboxed(src=img.nombre, alt=img.alt)
          #bautismo
            .gallery
              each img in img_bautismo
                img.materialboxed(src=img.nombre, alt=img.alt)
  

  section.section.section__contacto
    .container
      .row
        .col.s12.l7.xl6
          .img_content
            img.responsive-img.img_contacto(src="../assets/img/contactanos.png", alt="letrero")
        form.col.s12.l5.xl6
          .card.white
            .card-content
              .row
                .input-field.col.s6
                  <input id="first_name" type="text" class="validate">
                  <label for="first_name">Nombres</label>
                .input-field.col.s6
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">Apellidos</label>
              .row
                .input-field.col.s12
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
                  <span class="helper-text" data-error="Ingrese Email Valido" data-success="Correcto">name@gmail.com</span>
              .row
                .input-field.col.s12
                  select(multiple)
                    <option value="" disabled selected>Seleccione</option>
                    <option value="1">Matrimonio</option>
                    <option value="2">Bautismos</option>
                    <option value="3">Quinceañeros</option>
                  label Tipo de Evento
              .row
                .input-field.col.s12
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Mensaje</label>
              .row
                .input-field.col.s12
                  button.btn.waves-effect.waves-light(type="submit" name="action") Enviar
                    i.material-icons.right send
  section.section.section__principios.banner
    .banner-parallax
      .container.center
        .section__header
          h1.section__title Más que un trabajo una forma de ser
        .carousel.carousel-slider.carousel-slider-principios.center
            .carousel-item.black-text(href="#one!")
              <span class="quote"><img src="../assets/img/quote.png" alt=""></span>
              h2 J. P. Sergent.
              p " El éxito no se logra sólo con cualidades especiales. Es sobre todo un trabajo de constancia, de método y de organización. "
            .carousel-item.black-text(href="#two!")
              <span class="quote"><img src="../assets/img/quote.png" alt=""></span>
              h2 Mikhail Botvinnik.
              p " El Ajedrez, como cualquier otra actividad creativa, puede existir solo a través de méritos combinados de aquellos que tienen talento creativo y de aquellos que tienen la habilidad de organizar un trabajo creativo. "
            .carousel-item.black-text(href="#three!")
              <span class="quote"><img src="../assets/img/quote.png" alt=""></span>
              h2 Hjalmar Schacht.
              p " La libertad sin orden es la muerte de toda organización social. "
            .carousel-item.black-text(href="#for!")
              <span class="quote"><img src="../assets/img/quote.png" alt=""></span>
              h2 Ricardo León.
              p " La vida es un trabajo universal de organización; traiciona a la vida quien no vive para el orden. "
  section.section.section__eventos__org
    article
      .section__header.center.container
        h3.section__title Nuestros Eventos Organizados
        p.section__subtitle Gracias a las personas que nos dierón su confianza, usted puede observar los eventos que ya organizamos.
      .section__body
        .row
          .col.s12.carousel.carousel-event-org
            .carousel-item
              .card-rounded
                img.responsive-img.hoverable(src="../assets/img/servicio-1.jpg")
              p.carousel_description Primer evento que tuvimos
                a.waves-effect.waves-light.yellow-text.text-darken-3(href="#!") ver más
            .carousel-item
              .card-rounded
                img.responsive-img.hoverable(src="../assets/img/servicio-2.jpg")
              p.carousel_description Segundo evento que tuvimos
                a.waves-effect.waves-light.yellow-text.text-darken-3(href="#!") ver más
            .carousel-item
              .card-rounded
                img.responsive-img.hoverable(src="../assets/img/bodas.jpg")
              p.carousel_description Tercer evento que tuvimos
                a.waves-effect.waves-light.yellow-text.text-darken-3(href="#!") ver más
            .carousel-item
              .card-rounded
                img.responsive-img.hoverable(src="../assets/img/campamento.jpg")
              p.carousel_description Cuarto evento que tuvimos
                a.waves-effect.waves-light.yellow-text.text-darken-3(href="#!") ver más
            .carousel-item
              .card-rounded
                img.responsive-img.hoverable(src="../assets/img/servicio-4.jpg")
              p.carousel_description Quinto evento que tuvimos
                a.waves-effect.waves-light.yellow-text.text-darken-3(href="#!") ver más
          .col.s12.center
            a.waves-effect.waves-light.materialize-red-text(href="#!") _____Ver Todo_____
  include ../includes/footer